.alert {
  margin: 2rem auto;
  width: 100%;
  height: auto;
  color: white;
  padding: 0.05rem 0.5rem;
  text-align: start;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
